
  <div class="form-group form-group-default">
    <label for="trxId">Transaction ID: </label>
    <input [formControl]="trxId" id="trxId" type="text" class="form-control">
  </div>
  <div class="form-group form-group-default">
    <label for="bankCode">Bank Code: </label>
    <input [formControl]="bankCode" id="bankCode" type="text" class="form-control">
  </div>

  <button type="button" (click)="onSubmit()" class="btn btn-primary btn-cons btn-animated from-left">Submit
  </button>

